@{
    ViewBag.Title = "HomePage";
}

<div class="row">
    <div class="col-md-6">
        <div class="product-info">
            <img src="~/img/Demon Mask.jpg" />

            <h3>Demon Mask</h3>
            <ul class="product-prop">
                <li>Price: Rs. 999</li>
                <li>Artist: Sabin Maharjan</li>
                <li>Description: Demon Mask</li>
            </ul>
            <button id="buyButton" class="btn btn-success">Buy!</button>
        </div>
    </div>
    <div class="col-md-6">
        <h1>This is a page for buying Nepali Products</h1>
    </div>
</div>
<div>
    <div id="loginToggle">Login</div>
    <form class="popupForm">
        <div>
            <label>UserName</label>
            <input type="text" value="" />
        </div>
        <div>
            <label>Password</label>
            <input type="password" value="" />
        </div>
        <div>
            <input type="checkbox" value="" />
            <label>Remember Me</label><br />
        </div>
        <div>
            <input type="submit" name="name" value="Login" />
        </div>
    </form>
</div>